/**
 * Custom Icon
 */
@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?4bpd3u');
    src:    url('/fonts/icomoon.eot?4bpd3u#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?4bpd3u') format('truetype'),
        url('/fonts/icomoon.woff?4bpd3u') format('woff'),
        url('/fonts/icomoon.svg?4bpd3u#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-playlist-add:before {
    content: "\e902";
}
.icon-lisyn:before {
    content: "\e901";
}
.icon-playlist-minus:before {
    content: "\e903";
}
.icon-user:before {
    content: "\e900";
}

form#AddThisFile {
    margin-top: 80px;
}
/**
 * Layout
 */
body{background:#fff}

header {background: rgba(132, 195, 64, 1);position: fixed;top: 0;left: 0;width: 100%; height: 40px; z-index:99999; padding:0 0 2px}
header #logo {margin: 0 auto;padding: 6px 0}
header #logo img {height: 26px;display: block;margin: 0 auto;text-align: center}
.view {position: absolute;top: 40px;left: 0;z-index: 1001;height:100vh;max-height: 100vh;width: 100%;margin: 0;background: #f4f4f4;display: none}


/* Profile */
#main-view #profile-pane, #list-setting-view #profile-pane { background:rgba(0,0,0,.02)}
#main-view #profile-pane .profile-image, #list-setting-view #profile-pane .profile-image { display: block; margin: 18px auto; border: 1px solid black; border-radius: 99em; overflow: hidden; }
#list-setting-view #profile-pane .profile-image{margin: 45px 75px 0 }
#main-view #profile-pane .profile-image img, #list-setting-view #profile-pane .profile-image img { width: 100%; }
#main-view #profile-pane .profile-title, #list-setting-view #profile-pane .profile-title { font-size:20px; margin-top: 25px; margin-bottom: 5px; }
#list-setting-view #profile-pane .profile-title {text-align:center;margin-bottom:25px}
#main-view #profile-pane .statistics, #list-setting-view #profile-pane .statistics { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; direction: row; -webkit-flex-wrap: no-wrap; -ms-flex-wrap: no-wrap; flex-wrap: no-wrap; -webkit-flex-flow: center; -ms-flex-flow: center; flex-flow: center; }
#list-setting-view #profile-pane .statistics{text-align:center;background:#000;color:#fff;font-weight:700;margin-left: -15px;margin-right: -15px}
#list-setting-view #profile-pane .statistics > div{border-left:1px solid rgba(200, 200, 200, 0.3)}
#main-view #profile-pane .statistics .stat, #list-setting-view #profile-pane .statistics .stat { display: inline-block; padding: 5px; width: 33%; font-size: 12px; }
#main-view #profile-pane .statistics .stat:last-of-type, #list-setting-view #profile-pane .statistics .stat:last-of-type { border-right: none; }
#main-view #profile-pane .statistics .stat span, #list-setting-view #profile-pane .statistics .stat span { display: block; }
#main-view #profile-pane .statistics .stat span.count, #list-setting-view #profile-pane .statistics .stat span.count { font-weight:700; }
#main-view #profile-pane .statistics .stat span.title, #list-setting-view #profile-pane .statistics .stat span.title { color:#9f9f9f; }
#list-setting-view .settings-nav:last-child {margin-bottom: 120px}

/* Pane */
#user-pane { margin-top: 10px; }
#main-view .pane-title, #browse-view .pane-title { color: rgba(106,158,50, 1); margin:0 0 0 2px; font-size:18px; }
#main-view .pane-title i, #browse-view .pane-title i{ margin-right:10px; }

#browse-view .pane-title {
    margin: 15px 0 10px;
}

.pane-list { margin-bottom:20px;min-width: 100%; white-space: nowrap; }
.pane-list.pane-list-vertical { white-space: normal;     overflow: hidden; }
.pane-list .user-list-item {width:15%;border:1px solid rgba(106,158,50, 1);cursor:pointer; background:rgba(132, 195, 64, 1);color:#fff; padding:0; -webkit-transition: all 0.8s linear; transition: all 0.8s linear; display: inline-block; float: none; }
.pane-list .user-list-item:hover { background:rgba(106,158,50, 1)}
.pane-list .user-list-item .list-content { padding:10px; }
.pane-list .user-list-item .user-list-item-img { background:rgba(119,178,56,1); height:110px;width:100% }
.pane-list .user-list-item .list-content .list-item-title { font-size: 13px; padding: 0; margin: 0; line-height: 1.25; }
.pane-list .user-list-item .list-content .list-item-excerpt { font-size: 12px; padding: 0; margin: 0; line-height: 1.25; }
.img-feeds-list {height: 100%; width: 100%}
a[name="feeds-list"] {
  color: #000;
  padding: 10px 40px;
  margin: 0px -15px;
  display: block;
  height: 100%;
  border-bottom: 1px solid #ccc;
}
#main-view #user-pane .user-list-item .list-options {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap;
  -webkit-flex-flow: center;
      -ms-flex-flow: center;
          flex-flow: center;
  cursor: pointer;
}
#main-view #user-pane .user-list-item .list-options .list-option {
  padding: 12px 8px;
}
#main-view #user-pane .user-list-item .list-options .play-this {
  background: #448438;
  color: white;
}
#main-view #user-pane .user-list-item .list-options .edit-this {
  background: #666;
  color: white;
}

#main-view #public-pane .public-list-item .list-options {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap;
  -webkit-flex-flow: center;
      -ms-flex-flow: center;
          flex-flow: center;
  cursor: pointer;
}
#main-view #public-pane .public-list-item .list-options .list-option {
  padding: 11px 20px;
}
#main-view #public-pane .public-list-item .list-options .play-this {
  background: #448438;
  color: white;
}
#main-view #public-pane .public-list-item .list-options .unfollow-this {
  background: #00c7f7;
  color: white;
}

#player-view {
  position: absolute;
  left: 0;
  z-index: -1;
  max-height: 100vh;
  width: 100%;
  margin: 0;
  display: none;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
}
#player-view input[type=range] {
  -webkit-appearance: none;
  height: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  vertical-align: middle;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  width: 100%;
}
#player-view input[type=range]:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.8);
}
#player-view input[type=range]::-webkit-slider-runnable-track {
  background: transparent;
}
#player-view input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #448438;
  width: 15px;
  height: 4px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25);
}
#player-view input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
}
#player-view input[type=range]::-moz-range-track {
  background: white;
}
#player-view input[type=range]::-moz-range-thumb {
  background: #448438;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25);
}
#player-view input[type=range]::-ms-track {
  background: white;
}
#player-view input[type=range]::-ms-fill-lower {
  -webkit-appearance: none;
  background: white;
  height: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  vertical-align: middle;
  border-radius: 2px;
  cursor: pointer;
}
#player-view input[type=range]::-ms-fill-upper {
  background: transparent;
}
#player-view input[type=range]::-ms-thumb {
  background: #448438;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25);
}
#player-view input[type=range]:focus::-ms-fill-lower {
  background: white;
}
#player-view input[type=range]:focus::-ms-fill-upper {
  background: white;
}
#player-view .player-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap;
  -webkit-flex-flow: center;
      -ms-flex-flow: center;
          flex-flow: center;
}
#player-view .player-header .change-size, #search-player .player-header .search-change-size {
  width: 45px;
  height: auto;
  padding: 0px 10px;
  font-size: 25px;
  text-align: center;
  background: rgba(0,0,0,.025);
  color: #448438;
  cursor: pointer;
}
#player-view .player-header .change-size:hover, #search-player .player-header .search-change-size:hover {
  width: 45px;
  height: auto;
  padding: 0px 10px;
  font-size: 25px;
  text-align: center;
  background: #448438;
  color:#000;
  cursor: pointer;
}
#player-view .player-header .now-playing {
  width: 73%;
  padding: 5px 5px 5px 10px;
  overflow: hidden;
}
#player-view .player-header .now-playing {
  font-size: 11px;
  display: block;
  font-weight:500;
}
.playing-from {
   font-size: 15px;
  display: block;
  font-weight:500;
}
#player-view .player-header .now-playing .now-playing-title {
  font-size: 12px;
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
#player-view .player-header .small-play-btn{
    width:22%;
}
#player-view .player-header .small-play-btn .player-btn {
  font-size: 30px;
  padding-left: 4px;
  color: #448438;
  cursor: pointer;
  padding-right: 2%;
}
#player-view .player-display-area {
  width: 100%;
    height: 250px;
    margin: 0 auto;
    float: none;
    clear: both;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
#player-view .player-display-area img {
  width: inherit;
  height: inherit;
}
#player-view .player-controls {
  float: none;
  clear: both;
  padding-top: 25px;
}
#player-view .player-controls .seek-wrapper {
  display: block;
  width: 90%;
  margin: 0 auto 25px;
}
#player-view .player-controls .seek-duration {
	float: left;
    width: 10%;
}
#player-view .player-controls .seek-wrapper input[type=range] {
  -webkit-appearance: none;
  height: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  vertical-align: middle;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  float: right;
  width: 85%;
  margin-top: 8px;
}
#player-view .player-controls .seek-wrapper input[type=range]:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.8);
}
#player-view .player-controls .seek-wrapper input[type=range]::-webkit-slider-runnable-track {
  background: transparent;
}
#player-view .player-controls .seek-wrapper input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #448438;
  width: 3px;
  height: 15px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25);
}
#player-view .player-controls .seek-wrapper input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
}
#player-view .player-controls .seek-wrapper input[type=range]::-moz-range-track {
  background: white;
}
#player-view .player-controls .seek-wrapper input[type=range]::-moz-range-thumb {
  background: #448438;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25);
}
#player-view .player-controls .seek-wrapper input[type=range]::-ms-track {
  background: white;
}
#player-view .player-controls .seek-wrapper input[type=range]::-ms-fill-lower {
  -webkit-appearance: none;
  background: white;
  height: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  vertical-align: middle;
  border-radius: 2px;
  cursor: pointer;
}
#player-view .player-controls .seek-wrapper input[type=range]::-ms-fill-upper {
  background: transparent;
}
#player-view .player-controls .seek-wrapper input[type=range]::-ms-thumb {
  background: #448438;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25);
}
#player-view .player-controls .seek-wrapper input[type=range]:focus::-ms-fill-lower {
  background: white;
}
#player-view .player-controls .seek-wrapper input[type=range]:focus::-ms-fill-upper {
  background: white;
}
#player-view .player-btns {
  width: 70%;
  margin: 0 auto 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap;
  -webkit-flex-flow: center;
      -ms-flex-flow: center;
          flex-flow: center;
}
#player-view .player-btns .player-btn {
  color: #448438;
  cursor: pointer;
  display: inline-block;
  width: 33.3%;
  font-size: 44px;
  text-align: center;
}
#player-view .player-btns .player-btn:hover {
	color:rgba(132, 195, 64, 1);
}
#player-view #play, #player-view #searchPlay {
    border-radius: 50%;
    font-weight: 14px;
    text-align: center;
    line-height: 45px;
    margin-top: 8px;
}
#player-view #play {

}
#player-view #backward, #player-view #forward {
  font-size: 24px;
  margin-top: 15px;
}
#player-view #backward:hover, #player-view #forward:hover {
  color:rgba(132, 195, 64, 1);
}
#player-view.small {
  position: fixed;
  display: block;
  bottom: 40px;
  z-index: 100;
  overflow: hidden;
}
#player-view.small .player-header {
  margin-bottom: 0;
}
#player-view.small .player-display-area,
#player-view.small .player-controls {
  display: none;
  visibility: hidden;
}
#player-view.large {
  position: fixed;
  display: block;
  top: 0;
  z-index: 100;
  min-height: 90vh;
  margin-top:41px;
  overflow-x:hidden;
}
#player-view.large #seek-small, #player-view.large .small-play-btn {
  display: none;
  visibility: none;
}

#player-view #search-player .player-btn#searchPlay  {
    margin: auto;
}

#single-list-view .pane-title {
	padding: 3px 0;
	background: rgba(157,207,103,1);
	margin:40px 0 0 0;
}
#single-list-view .pane-title h3 {
	font-size: 17px;
    color: rgba(255,255,255,1);
    margin-top: 12px;
    font-weight: 500;
    letter-spacing: .04em;
}
#single-list-view .pane-title a {
	font-size: 16px;
	color:rgba(255,255,255,.6);
}
#single-list-view .pane-title a:hover {
	color:rgba(255,255,255,1);
}

#single-list-view .single-list-controls {
  width: 80%;
  max-width: 200px;
  margin: 0px auto 0;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background: rgba(132, 195, 64, 1);
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
  position: relative;
  z-index: 1;
  margin-top: 10px;
}

#single-list-view .single-list-controls #single-list-play {
  font-size: 16px;
  display: block;
  text-align: center;
  position: relative;
  cursor: pointer;
  color:#fff;
  text-decoration:none;
}
#single-list-view .single-list-controls #single-list-play i {
  font-size: 18px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#single-list-view .single-list-controls:hover {
	background:rgba(119,178,56,1);
}
.single-list-item {position: relative;cursor: pointer;}
.single-list-item .fa-arrow-circle-down {
  opacity: 0;
  visibility: hidden;
  color: #00b800;
  position: relative;
  left: -15px;
}
.single-list-item.on-device .fa-arrow-circle-down {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
  left: 0;
}
.single-list-item .list-content {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(10, 10, 10, 0.15);
  padding: 8px 10px;
  z-index: 1;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
}
.single-list-item .list-content:hover { background:rgba(0, 0, 0, .04); }
.single-list-item .list-content:hover .list-item-excerpt { color: green; }
.single-list-item .list-content .list-item-title {font-size: 14px;padding: 0;margin: 0;line-height: 1.25;color: #454545;}
.single-list-item .list-content .list-item-excerpt {
  font-size: 11px;
  padding: 4px 0 0 0;
  margin: 0;
  line-height: 1.25;
  color: rgba(37, 105, 16, 0.52);
}
.single-list-item .list-options {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap;
  -webkit-flex-flow: center;
      -ms-flex-flow: center;
          flex-flow: center;
  cursor: pointer;
}
.single-list-item .list-options .list-option { padding: 10px 14px 10px 0;}
.single-list-item .list-options .edit-this { font-size:22px; }
.single-list-item .list-options .edit-this a { color:rgba(0,0,0,.05); -webkit-transition: all 0.8s linear; transition: all 0.8s linear; }
.single-list-item .list-options .edit-this a:hover { color:rgba(132, 195, 64, 1); }

#main-nav {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(10,10,10,.9);
  z-index: 1003;
}
#main-nav .nav-items {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap;
  -webkit-flex-flow: center;
      -ms-flex-flow: center;
          flex-flow: center;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(200, 200, 200, 0.3);
  box-shadow: 1px -1px 5px 1px rgba(0, 0, 0, 0.15);
  z-index:100000;
}
#main-nav .nav-items .nav-item {
  list-style: none;
  padding: 5px;
  width: 25%;
  text-align: center;
  border-left: 1px solid rgba(200, 200, 200, 0.3);
  background: transparent;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
  color: rgba(255, 255, 255, 0.8);    
  font-size: 12px;
  letter-spacing: .07em;
  cursor: pointer;
}
#main-nav .nav-items .nav-item:hover, #main-nav .nav-items .nav-item.active {
  color: rgba(132, 195, 64, 1);
  background: transparent;
}
#main-nav .nav-items .nav-item i {
    margin-bottom: 1px;
    display: block;
    font-size: 20px;
}
.hide {
  display: none;
  visibility: none;
}

/**
 * Main List
 */
.pane-title > span { border:1px solid transparent;font-size: 14px;color: rgba(132, 195, 64, 1); }
.pane-title > span:hover { border:1px solid rgba(132, 195, 64, 1);cursor:pointer; }
.pane-title > span > i {padding: 1px}
.add-new-playlist i { margin-right:4px; }
#addPlayList, #userFeedListModal {margin-top: 40px}
#addPlayList .modal-content {width:100%}
#addPlayList textarea, #addPlayList input[type="text"] {width:100%;padding:10px}
#addPlayList textarea{resize: none}
#addPlayList .modal-header, #userFeedListModal .modal-header {height:40px;background: rgba(119, 178, 56, 1) none repeat scroll 0 0;border-radius: 5px 5px 0 0;color: #fff}
#addPlayList .modal-header .close, #userFeedListModal .modal-header .close {margin-top:-8px}
#addPlayList #myModalLabel, #userFeedListModal #myModalLabel  {font-size:15px;margin:-5px 3px}
.playlist-action {display: inline-block;float: right;margin-top: 10px;text-align: center}
.playlist-action > a {margin-left:5px}
.settings-nav .profile-lbl > i {margin-right: 10px}
/**
 * Single Listing
 */
#single-list-view .pane-title .settings-icon {font-size:30px;margin-right:15px;}
#single-list-view .pane-title .settings-icon:hover{font-weight:bold;text-decoration:none}
#single-list-view .pane-title .settings-icon:last{margin-right:5px}
#single-list-settings {background: #fff none repeat scroll 0 0;position: absolute;width: 100%;z-index: 100;font-size:12px;height:100%}
.shuffle-setting { background: rgba(0,0,0,.02); }
.single-list-list-items{overflow-y:scroll}
/**Toggle button */
#single-list-view .shuffle {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;direction: row;-webkit-flex-wrap: no-wrap;-ms-flex-wrap: no-wrap;flex-wrap: no-wrap;-webkit-flex-flow: center;-ms-flex-flow: center;flex-flow: center;padding: 20px 10px 10px;margin-top: -15px}
#single-list-view .shuffle span {color: #787878;vertical-align: middle}
#single-list-view .shuffle span:first-of-type{color: rgba(0,0,0,.5);font-weight: 700;padding: 10px 0}
#single-list-view .shuffle span .switch-toggle {position: absolute;margin-left: -9999px;visibility: hidden;}
#single-list-view .shuffle span .switch-toggle + label {display:block;position: relative;cursor: pointer;outline: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;float: right}
#single-list-view .shuffle span input.switch-toggle-round-flat + label {padding: 2px;width: 60px;height: 30px;background-color: #dddddd;border-radius: 30px;-webkit-transition: background 0.4s;transition: background 0.4s;margin: 5px 0 0 10px}
#single-list-view .shuffle span input.switch-toggle-round-flat + label:before,
#single-list-view .shuffle span input.switch-toggle-round-flat + label:after {display: block;position: absolute;content: ""}
#single-list-view .shuffle span input.switch-toggle-round-flat + label:before {top: 2px;left: 2px;bottom: 2px;right: 2px;background-color: white;border-radius: 60px;-webkit-transition: background 0.4s;transition: background 0.4s}
#single-list-view .shuffle span input.switch-toggle-round-flat + label:after {top: 4px;left: 4px;bottom: 4px;width: 25px;background-color: #f8f8f8;border-radius: 52px;-webkit-transition: margin 0.4s, background 0.4s;transition: margin 0.4s, background 0.4s;border: 1px solid rgba(0, 0, 0, 0.15);box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05)}
#single-list-view .shuffle span input.switch-toggle-round-flat:checked + label {background-color: #00b800}
#single-list-view .shuffle span input.switch-toggle-round-flat:checked + label:after {margin-left: 30px;background-color: rgba(0, 184, 0, 0.8)}
#single-list-view .pane-title .settings-icon > i {display:inline-flex}
.file-duration{color: #428bca;font-weight: bold;margin-right: 12px;position: absolute;right: 0;top: 2px}
.small .article-description {display:none}
.settings-icon.pull-right > i > span {font-size: 16px;margin-top: 8px}
.article-description {
	padding: 20px 40px 180px;
    font-size: 11px;
    height: auto;
    background: rgba(0,0,0,.03);
    line-height: 1.6em;
}
.art-title {
	font-weight: 500;
    font-size: 14px;
    line-height: 1.5em; }
.art-desc { }
.art-url { color: #428bca; padding:6px 0; }
.list-item-action {
    cursor:pointer;
    color: rgba(132, 195, 64, 1);
    float: right;
    font-size: 22px;
    margin-top: -53px;
    padding: 15px 20px;
    position: relative;
    width: 19px;
    z-index: 1;
}
.list-item-action > i {float: left;margin-left: -9px;color:rgba(10,10,10,.1)}
.list-item-action > i:hover {color:rgba(187, 19, 19, 0.78)}
#confirmDeletePlaylist{margin-top: 35px}
/** Single List Tool **/
#single-list-settings .ind-setting-list {font-weight:700;cursor:pointer;border-bottom: 1px solid #ccc;padding:20px}
#single-list-settings .ind-setting-list:hover{color:#fff;background:rgba(132, 195, 64, 1)}
#single-list-settings .ind-setting-list > i {color: rgba(132, 195, 64, 1);font-size: 27px;margin-top:-5px}
#single-list-settings .ind-setting-list:hover > i {color:#000}
#single-list-settings .ind-setting-list:nth-child(2) {padding:20px}
#single-list-settings .ind-setting-list .shuffle {float: right;margin-top: -38px}
#single-list-settings .ind-setting-list:last-child span:nth-child(1){float:left}
#single-list-settings .ind-setting-list:last-child{display:inline-flex;width:100%}
#single-list-settings .add-keywords{display:none}
#add-keyword-list{border-bottom: 1px solid #ccc;width:100%}
.dropdown {margin: 10px;position: relative}
.dropdown dd,.dropdown dt {margin: 0px;padding: 0px}
.dropdown ul {margin: -1px 0 0 0}
.dropdown dd {position: relative}
.dropdown a,.dropdown a:visited {color: #fff;text-decoration: none;outline: none;font-size: 12px}
.dropdown dt a {background-color: rgba(132, 195, 64, 1);border: 0 none;display: block;overflow: hidden;padding: 0 16px;width: 100%}
.dropdown dt a span,.multiSel span {cursor: pointer;display:inline-block;margin-top:10px}
.dropdown dd ul {background-color: #fff;border: 1px solid rgba(132, 195, 64, 1);color: #000;display: none;left: 0px;padding: 2px 15px 2px 5px;position: absolute;top: 2px;width: 100%;list-style: none;height: 100px;overflow: auto}
.dropdown span.value {display: none}
.dropdown dd ul li a {padding: 5px;display: block}
.dropdown dd ul li a:hover{background-color: #fff}
.subcat {margin-left: 32px}
.maincat {font-weight:700;margin-right:10px}
input[name="chkCatalog"]{margin-right:10px}
.container-fluid.shuffle-setting {border-bottom: 1px solid rgba(25,25,25,.3);}
/** Editable Fields **/
[contenteditable="true"] { margin:0 0 5px 0; border: 1px dashed transparent; padding:6px; border-radius:4px; }
[contenteditable="true"]:hover { border: 1px solid #dfdfdf; background:#fff;color:#000 }
[contenteditable="true"]:focus { border:0 !important; background:#fff; color: #CF4600}
[contenteditable="true"].default { color: #ccc }
#feeds-title{float: right;margin-left: 20px;width: 55%;word-wrap: break-word;margin-top:-8px}
/**Confirmation Button**/
#confirmDeletePlaylist .modal-content {width:100%}
#confirmDeletePlaylist .modal-header {height:40px;background: rgba(119, 178, 56, 1) none repeat scroll 0 0;border-radius: 5px 5px 0 0;color: #fff}
#confirmDeletePlaylist .modal-header .close {margin-top:-8px}
#confirmDeletePlaylist #myModalLabel {font-size:15px;margin:-5px 3px}
#confirmDeletePlaylist .playlist-modal{text-align:center}
#confirmDeletePlaylist #details { font-size: 14px;margin-bottom: 10px;margin-left: 10px;text-align:center;margin-left:-12px;}
#confirmDeletePlaylist .information {display: inline-block;margin: 15px;text-align:left}
#confirmDeletePlaylist .information > i {color: red;float: left;font-size: 28px}
#confirmDeletePlaylist .information > span {float: left;margin: -26px;padding-left: 68px;padding-right: 10px}
#confirmDeletePlaylist #details > a {margin-top: 25px}

/**
 * Common View | discoveries view and settings view
 */
#discovery-view .disc-nav, #list-setting-view .settings-nav {border-bottom: 1px solid #ccc;padding:11px}
#discovery-view .disc-nav:hover, #list-setting-view .settings-nav:hover {cursor:pointer;background:rgba(132, 195, 64, 1);color:#000}
#discovery-view .disc-nav > i, #list-setting-view .settings-nav > i {margin-right: 10px}
/**
 * Settings nav
 */
#list-setting-view .settings-nav:nth-child(1){border-top:1px solid #ccc}
/**
 * Registration/ Login/ Publisher
 */
.lisyn-form, #frmConsumerRegister,#frmLogin{margin: 30px 15px 15px}
.lisyn-form .form-group {  border: 1px solid #ccc; margin-bottom: 7px; background-color: #fff;}
.lisyn-form .form-group > input { padding: 0 0 0 44px; height: 42px; -webkit-appearance: none; border: none; box-shadow: none !important; outline: none; }
.lisyn-form .form-group > span {padding-left: 44px; font-size: 8px; color: #969696; display: none}
.lisyn-form .form-group > i {padding: 15px 12px;}

.lisyn-form .form-group {position:relative}
.consumer.form-group > ul > li, .publisher.form-group > ul > li, .login.form-group > ul > li {background: #ff5a5f none repeat scroll 0 0;border: 1px solid #ccc;color: #fff;font-size: 11px;list-style: outside none none;margin-top: 2px;padding: 2px 9px}
.consumer.form-group > input, .publisher.form-group > input, .login.form-group > input {border-radius: 0;font-size: 13px; padding-left:44px;text-align:left;}

.lisyn-form .form-group > i {background: green none repeat scroll 0 0;color: #fff;margin:-1px;position: absolute}
.consumer.form-group > button, .consumer > button, .publisher > button, .login > button , .load-more, .load-more:focus, .login > button:hover {color:green;background: transparent none repeat scroll 0 0;border: 2px solid green;border-radius: 0;float: left;font-size: 13px;height: 35px;margin-bottom: 12px;margin-left: 10%;padding-top: 8px;text-align: center;width: 80%}
.lisyn-form > fieldset > ul > li {
  background: #ff5a5f;
  color: #fff;
  font-size: 11px;
  list-style: none;
  margin-top: 2px;
  padding: 2px 9px;
}
.lisyn-form > button:hover, .consumer.form-group > button:hover, .consumer > button:hover,  .publisher > button:hover, .login > button:hover, .load-more:hover{font-weight:700; color:green}
.form-group > ul {margin-bottom: 0px}


#frmDiscover {margin-top: 20px;}
#activateBanner {background: #ff5a5f none repeat scroll 0 0;color: #fff;font-size: 10px;padding: 3px;}
#activateBanner .close {top: -3px;color: #000;right: 2px;opacity: .4;}
#activateBanner > a {
    color: #fff;
    border: 1px solid;
    font-size: 8px;
    padding: 2px 4px;
}
#activateBanner > a:hover{
    text-decoration: none;
    font-weight: bold;
}


.load-more {
    margin-top:10px;
}

 .load-more[disabled]{
     color:gray;
     border: 2px solid gray;
     background: transparent;
 }

.other-settings{color:#000;margin-bottom: 65px}
.other-settings > p,.other-settings > a{color:#000}
.logo .icon-lisyn {color: yellowgreen}
.logo { color: #fff;font-size: 34px;margin: 55px 10px 10px;position: relative;text-align: center;width: 100%}
.logo .icon-lisyn > span {font-family: Helvetica, sans-serif;padding-left:3px}
header #logo{display:none}
#main-nav{display:none}
.logo .ng-binding {font-size: 13px;margin-bottom: 20px;float: left;width: 100%}
.login .logo .ng-binding {color: #fff;font-size: 36px}
.logo > span {font-size: 35px;float:left}
.register.content-container .logo > span{float:left}
.register.content-container .form-container{float: left;width: 100%;}
span.shortmsg {color: #fff;float: left;text-align: center;width: 100%}
.confirm-login{background: transparent none repeat scroll 0 0;border: 2px solid green;color: green;width: 116px}
.confirm-login:hover, .load-more:hover {background: transparent;font-weight:700;border: 2px solid green;color:green}
.other-registration{text-align:center}
.linkedin-logo{background: rgba(0, 0, 0, 0) url("/img/linkedin.png") no-repeat scroll 0 0 / cover ;height: 30px;margin-right: 5px;padding: 1px 10px;}
.google-logo{background:url(/img/google.png) no-repeat scroll 0 0 / cover ;height: 30px;margin-right: 5px;padding: 1px 10px}
.btn-green { margin-bottom:5px}
.btn-green:hover { margin-bottom:5px}
label.full-alert {
    margin-left: initial !important;    
}
label.error {
    background: #ff5a5f none repeat scroll 0 0;
    color: #fff;
    font-size: 10px;
    margin-left: 38px;
    padding: 5px;
    display: block;
    overflow: hidden;
}

label.success {
    background: green none repeat scroll 0 0;
    color: #fff;
    font-size: 10px;
    margin-left: 38px;
    padding: 5px;
    display: block;
    overflow: hidden;
}
/**
 * Consumer Confirmation
 */
.confirm-message {margin: 20px;text-align: center}
ul.success, ul.error {
    margin-top: 55px;
}
.confirm-message img {
    height: 200px;
}

html, body {
    position: relative;
    height: 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
#user-list, #public-list {margin-top:10px;margin-left:1px}
.swiper-slide {
    overflow-x:hidden;
}
.category-feeds #list-item-name,
#browse-list #list-item-name {
    width: 20%;
    margin-right: 10px;
}
add-playlist-body {display:none}

.share-buttons {
    margin-top: 24px;
}

.share-buttons > a > i {
    font-size: 20px;
}

.share-buttons > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height: 38px;
    text-align:center;
    background: #448438;
    cursor: pointer;
}

.share-buttons > a:hover {
    background: rgba(132, 195, 64, 1);
}

/**
 * Support for responsiveness
 */
@media(max-width:660px) {
    .category-feeds #list-item-name,
    #browse-list #list-item-name {
        width: 30%;
        margin-right: 10px;
    }
}
@media (max-width:480px) {
    .category-feeds #list-item-name,
    #browse-list #list-item-name {
        width: 45%;
        margin-right: 10px;
    }
}
@media (max-width: 330px) {
    .category-feeds #list-item-name,
    #browse-list #list-item-name {
        width: 100%;
        margin-right: 10px;
    }
}


