.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable{
    padding:0
}
span.ui-button-icon-primary.ui-icon.ui-icon-closethick{
    display:none;
}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close{
    width: 80px;
    background: transparent;
    border: 0;
    margin: 0px;
    color: #fff;
}
.ui-button-text{
    display:none !important;
}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close:hover{
    font-weight: 700;
}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close:before {
    content: "CLOSE";
    font-size:12px;
}
#dialog {
    border: medium none;
    height: auto;
    max-height: none;
    min-height: 100px;
    width: auto;
}
#dialog {
    border: medium none;
    height: 100%;
    width: 100%;
    display:none;
    overflow: hidden;
}
#dialog > iframe {
    border:none;
    width:300px;
    height:500px;
}
.ui-dialog-titlebar {
    background: none;
    border:none;
}
.ui-dialog .ui-dialog-title{
    display:none;
}
.ui-dialog-titlebar-close {
    margin: -20px -7px 0;
    position: absolute;
    z-index: 9999;
}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close{
    top:12px;
}
.ui-dialog .ui-dialog-content{
    padding:0px;
}
.ui-dialog .ui-dialog-titlebar{
    padding:0px;
}
#lisyn-btn{
    width:0px;
}