/**
 * Custom Icon
 */
@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?4bpd3u');
    src:    url('/fonts/icomoon.eot?4bpd3u#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?4bpd3u') format('truetype'),
        url('/fonts/icomoon.woff?4bpd3u') format('woff'),
        url('/fonts/icomoon.svg?4bpd3u#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-playlist-add:before {
    content: "\e902";
}
.icon-lisyn:before {
    content: "\e901";
}
.icon-playlist-minus:before {
    content: "\e903";
}
.icon-user:before {
    content: "\e900";
}

.icon-lisyn-medium {
    background: url(../img/lisyn-medium.png) no-repeat;
}

/**
 *Activate Banner
 */
#activateBanner {
	top:0;
	color:#fff;
	background: #DB797C;
	font-weight:700;
	padding: 3px 50px
}

#activateBanner .close > i {
	color: #fff;
	font-size: 24px;
	margin-top: -5px;
}

#activateBanner > a {
	color: #2670b5;
}

/**
 * Notifyer
 */
.card-notifyer {
    top:0;
    color:#fff;
    background:#2670b5;
    font-weight:700;
	padding: 3px 50px
}
.card-notifyer > a {
    color: #43e8d8;
}
.card-notifyer .close > i {
    color: #fff;
	font-size: 24px;
    margin-top: -5px;
}

.adjust-height, .adjust-height2 {
    margin-top:40px;
}
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 115px;
  background:#f4f4f4;
}
a:focus { outline: none; }

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/**
 * Error Messages
 */
#errorMessages,#errorMessages2 {display:none;background: #f2b9ab none repeat scroll 0 0;border: 1px solid #fb0000;border-radius: 5px;color: #fb0000;list-style: outside none none;padding: 10px}
#errorMessages i,#errorMessages2 i {margin-right: 10px}
#errorMessages {margin-top:-20px}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top { border: 0; }
.navbar .navbar-form.navbar-right:last-child { margin-right:15px; margin-left:15px; padding-top: 0px; }
.navbar .navbar-form input { width:150px; }

.navbar a { outline:none !important; }
.navbar .add-new:hover { background: #00c7f7; }

.navbar-top { background:#448438; }
.navbar-top > li > a { padding:10px 15px; }
.navbar-top .navbar-left li { border-right:1px solid rgba(200,200,200,.3); padding: 0px 18px; }
.navbar-top .navbar-right li { border-left:1px solid rgba(200,200,200,.3); padding: 0px 18px; }
.navbar-top a { color:rgba(255,255,255,.8); }
.nav-tabs { border:0px; text-transform:uppercase; }
.nav-tabs li.active { background:#519548; color:rgba(255,255,255,1); }
.nav-tabs li.active a { background:transparent; border-color:transparent; border-radius:0; color:rgba(255,255,255,1); font-weight:500; border-bottom: 1px solid #519548; }
.nav-tabs li.active:hover a { background:transparent; border-color:transparent; border-radius:0; color:#fff; }
.nav-tabs li a:hover { background:transparent; border-color:transparent; border-radius:0; color:#fff;  }
.nav-tabs li:hover { background:#519548; color:rgba(255,255,255,1); }

.nav-pills { border:0px; text-transform:uppercase; }
.nav-pills li.active { background:#519548; color:rgba(255,255,255,1); }
.nav-pills li.active a { background:transparent; border-color:transparent; border-radius:0; color:rgba(255,255,255,1); font-weight:500; border-bottom: 1px solid #519548; }
.nav-pills li.active:hover a { background:transparent; border-color:transparent; border-radius:0; color:#fff; }
.nav-pills li a:hover { background:transparent; border-color:transparent; border-radius:0; color:#fff;  }
.nav-pills li:hover { background:#519548; color:rgba(255,255,255,1); }
.nav-pills li a:focus { background:transparent; border-color:transparent; border-radius:0; color:#fff;  }

.navbar-bottom { background:#519548; padding: 12px 15px; }
.navbar-bottom .navbar-brand { color:#fff; font-weight:500; }
.navbar-bottom .navbar-right { margin-right: 35px !important; }

#global-search input { background: rgba(255,255,255,.1); border: 1px solid rgba(255,255,255,.6); color:rgba(255,255,255,.8); }
#global-search:hover input { background: rgba(255,255,255,.4); border: 1px solid rgba(255,255,255,.8); color: #323232; }
#global-search input::-webkit-input-placeholder { color:rgba(255,255,255,.8); }
#global-search input:-moz-placeholder { color:rgba(255,255,255,.8); }
#global-search input::-moz-placeholder { color:rgba(255,255,255,.8); }
#global-search input:-ms-input-placeholder { color:rgba(255,255,255,.8); }

#global-search input:focus { background: rgba(255,255,255,1); border: 1px solid rgba(255,255,255,1); color: #323232; }
#global-search input:focus::-webkit-input-placeholder { color:rgba(255,255,255,.8); }
#global-search input:focus:-moz-placeholder { color:rgba(255,255,255,.8); }
#global-search input:focus::-moz-placeholder { color:rgba(255,255,255,.8); }
#global-search input:focus:-ms-input-placeholder { color:rgba(255,255,255,.8); }
.result-display {background: #fff none repeat scroll 0 0;height: 100px;overflow-x: hidden;position: absolute;z-index: 0}
.result-display div:hover { background:#5cb85c;color:#fff}
.navbar-profile { padding-top: 5px; }
.navbar-profile img.profile-small { width: 40px; height: 40px; border-radius: 20px; background: #FFF; }
.navbar-profile img.profile-big { border-radius: 50%; background: #FFF; padding:5px; }
.navbar-profile a span { display: inline-block; background: transparent url(/img/tr_down.png) 0 50% no-repeat; width: 25px; height: 40px; position: absolute; left: 45px; top: 5px; }
.navbar-profile .role-switcher { padding:30px; text-align:center; }
.navbar-profile .quick-profile { background:#fafafa; text-align:center; padding:12px 30px; }
.navbar-profile .quick-profile .name { font-weight:500; }
.navbar-profile .quick-profile .role { font-style:italic; color:#888; }

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  transition:width 0.35s ease-in-out 0.05s; -webkit-transition:width 0.35s ease-in-out 0.05s; -moz-transition:width 0.35s ease-in-out 0.05s;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  margin-top:30px;
}
.nav-sidebar i.fa { margin-right:5px; }
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav-sidebar > li.nav-sidebar-header { text-transform:uppercase; font-weight:500; padding: 30px 15px 0px; }
.nav-sidebar > li.nav-sidebar-sub { padding: 0px; }
.nav-sidebar > li.nav-sidebar-sub a { padding: 5px 15px 5px 30px; }
.nav-sidebar > li.nav-sidebar-sub muted { color:#ababab; font-size:.9em; display:block; }

.nav-sidebar h4{ padding-left: 30px; margin-bottom:6px; }
.nav-sidebar .nav-editable { padding:6px 0 8px 30px; }
.nav-save { padding:12px 0 8px 10px; border-top:1px solid rgba(50,50,50,.1); margin-top:12px; }

.nav-sidebar-actions { border-top:1px solid #cfcfcf; padding:8px 0 0 10px; margin-top:50px; }
.nav-sidebar-actions a { color:#9f9f9f; }
.nav-sidebar-actions a:hover { color:#428bca; }

.navbar-inverse { background: #323232; }
.nav-sidebar .nav>li>a { padding:15px 15px; }

.navbar-brand { line-height:normal; font-size:22px; }


#progressBar { width: 100%; height: 3px; background-color: #fff; }
#progressBar div {height: 100%; color: #0099ff; text-align: right; line-height: 3px; width: 0; background-color: #0099ff; position:relative; }
#progressBar div span { position:absolute; color: #0099ff; top: 15px; right: 10px; }

[contenteditable="true"] { margin:0 0 5px 0; border: 1px dashed transparent; padding:6px; border-radius:4px; }
[contenteditable="true"]:hover { border: 1px solid #dfdfdf; background:#fff; }
[contenteditable="true"]:focus { border:0 !important; background:#fff; color: #CF4600; }
[contenteditable="true"].default { color: #ccc !important; }

/*
 * Main content
 */
.main { padding: 20px; min-height:100%; }
.main .page-header { margin-top: 0; }

/*
 * Search
 */
.search-results .row { border-bottom: 1px solid #eaeaea; margin-bottom:15px; padding-bottom:15px; }
.search-results .row h2 { margin:0px; }
.search-results-type { text-align:center; padding:20px; border-radius:2%; }

/*
 * Dashboard
 */
#opp-stats { margin-bottom:60px; background:#fff; }
#opp-stats .bar-indicator { height: 30px; width:100%; margin-top:10px; }
#opp-stats .bar-data { padding: 0px 20px 10px; }


#activity-stats { margin-bottom:20px; background:#fff; }
#activity-stats .bar-indicator { height: 12px; width:100%; margin-top:10px; }
#activity-stats .bar-data { padding: 0px 0px 4px 2px; }

#activity-stats div[data-type]:hover { cursor:pointer; }
#activity-stats div[data-type]:hover h4, #activity-stats div[data-type].active h4 { color:#fff !important; }
#activity-stats div[data-type]:hover .bar-indicator, #activity-stats div[data-type].active .bar-indicator { background:#fff; }
#activity-stats div[data-type].bar-green:hover, #activity-stats div[data-type].active.bar-green { background:#00B800; }
#activity-stats div[data-type].bar-red:hover, #activity-stats div[data-type].active.bar-red { background:#df4a32; }
#activity-stats div[data-type].bar-blue:hover, #activity-stats div[data-type].active.bar-blue { background:#00c7f7; }

#activity-stats-messages { margin-bottom:10px; height:25px; }
#activity-stats-messages div { display:none; }
.line-chart {position:relative;width: 50%}
.line-chart > canvas {position: relative;width: 100% !important}
.view-more-logs {margin: 0 40%}
/*
 * PROFILE
 */
.no-profile-image { border:1px solid rgba(50,50,50,.5); background:#fafafa; padding:35px; font-size:120px; margin:20px 0; text-align:center; border-radius:4px; }
.note-editable { background:#fff; }


.save-btn { margin-top:30px; }
.feature-list { margin-top:20px; }
.feature-list li { margin-bottom:8px; }

.plans { border-bottom: 1px solid #e8e8e8; padding-bottom:50px; }
.plan {
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fafafa;
	text-align: center;
	position: relative;
	width:100%;
	padding-bottom:10px;
}
.plan .current-plan {
	background-color: #3d8cc9;
	color: #fff;
	text-transform: uppercase;
	height: 2.5em;
	line-height: 2.5em;
	border-radius: 2px 2px 0 0;
}
.plan input { display:none; }
.plan.selected .monthly-option, .plan.selected .yearly-option { opacity: 0.5; }
.plan .term {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	margin-top: 42px;
	letter-spacing: 1px;
}
.plan .price {
	font-size: 70px;
	font-weight: bold;
	margin-top: 28px;
	line-height: .7em;
	margin-right: -5px;
}
.plan .price span.dollar-sign {
	font-size: 24px;
	font-weight: normal;
	margin-right: 2px;
	top: -25px;
	position: relative;
}
.plan .price span.per {
	display: block;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	margin-top: 5px;
	letter-spacing: 0;
	line-height:1em;
}
.plan .price span.free-per {
	display: block;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	margin-top: 15px;
	letter-spacing: 0;
	line-height:1em;
}
.plan .desc { margin: 25px 0; color: #131313; font-weight:200; letter-spacing:.08em; padding:0 35px; }
.plan .features {   margin: 0 30%; color: #323232; font-weight:200; letter-spacing:.08em; padding:0 20px; }
.plan .features ul { margin:0; padding:0; text-align:center; list-style-type:none; }
.plan .features ul li { margin:0 0 8px 0; padding:0 }
.plan .action { margin-top:15px; }
.big-plus { line-height:4.5em; font-size:5em; font-weight:500; }
.ribbon {
	position: absolute;
	top: -1px;
	right: 5px;
	background-image: url('https://pipelinedeals.global.ssl.fastly.net/1407514899/images/billing-ribbon.png?1407515350');
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 51px;
	width: 69px;
	text-transform: uppercase;
	line-height: 1em;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	padding-top: 8px;
	text-align: center;
	font-size: 13px;
}
.plan .upgrade-plan {
	background-color: #00c7f7;
	color: #fff;
	text-transform: uppercase;
	height: 2.5em;
	line-height: 2.5em;
	border-radius: 2px 2px 0 0;
}
.billing { padding: 40px 0; border-bottom: 1px solid #e8e8e8; }
.billing .size-h5 { margin-bottom: 20px; }
.history { padding: 0px 0px 20px; }
.history-table { background:#fafafa; margin-top:20px; }


#users .adduser { padding-bottom: 20px; border-bottom: 1px solid #e8e8e8; }
#users .adduser .size-h5 { margin-bottom:20px; }
#users .userlist { padding: 40px 0; }
#users .role-desc { margin-bottom:40px; }



/*
 * Colors
 */
.bg-hot, .bg-red { background:#df4a32; color:#fff; }
.bg-mild, .bg-yellow { background:#f3c536; color:#fff; }
.bg-cold, .bg-blue { background:#00c7f7; color:#fff; }
.bg-won, .bg-green { background:#00B800; color:#fff; }
.bg-main, .bg-grey { background:#f8f8f8; color:#fff; }

.bg-hot-1, .bg-red-1 { background:#FF2800; color:#fff; }
.bg-hot-2, .bg-red-2 { background:#C80815; color:#fff; }
.bg-hot-3, .bg-red-3 { background:#860111; color:#fff; }
.bg-hot-4, .bg-red-4 { background:#9B111E; color:#fff; }

.bg-cold-1, .bg-blue-1 { background:#00c7f7; color:#fff; }
.bg-cold-2, .bg-blue-2 { background:#009fc5; color:#fff; }
.bg-cold-3, .bg-blue-3 { background:#007794; color:#fff; }
.bg-cold-4, .bg-blue-4 { background:#004f62; color:#fff; }

.text-hot, .text-red { color:#df4a32; }
.text-mild, .text-yellow { color:#f3c536; }
.text-cold, .text-blue { color:#00c7f7; }
.text-won, .text-green { color:#7FDB7F; }

.text-hot-1 { color:#FF2800; }
.text-hot-2 { color:#C80815; }
.text-hot-3 { color:#860111; }
.text-hot-4 { color:#9B111E; }

.text-cold-1 { color:#00c7f7; }
.text-cold-2 { color:#009fc5; }
.text-cold-3 { color:#007794; }
.text-cold-4 { color:#004f62; }


.size-h1 { font-size: 36px; }
.size-h2 { font-size: 30px; }
.size-h3 { font-size: 26px; }
.size-h4 { font-size: 20px; }
.size-h5 { font-size: 18px; }
.size-h6 { font-size: 14px; }

h1 { border-bottom: 1px solid rgba(50,50,50,.1); padding-bottom:10px; margin-bottom:20px; }

.btn-h1 { vertical-align: top; margin-top: 10px; margin-left:25px; }


.tag { font-size:10px; background: #efefef; padding:4px 6px; border-radius:4px; }


/*
 * Helpers
 */
.nopadding { padding: 0 !important; margin: 0 !important; }

/*
 * Articles
 */
#schedule-content { display:none; }
.article-info small { margin:8px 0px 10px 10px; display: block; }
#article-activity-stats { margin-bottom:20px; background:#fff; text-align:center; padding:10px 0 25px; }
#article-activity-stats .number { font-weight:700; font-size:4em; }
.acticle-actions, .archived-actions {border: 1px solid;border-radius: 10px;color: #fff;margin: auto;padding: 20px;position: relative;text-align: center;width: 200px;cursor:pointer}
.acticle-actions.bg-blue > a,.archived-actions.bg-blue > a {color: #fff;text-decoration: none;}
.acticle-actions.bg-blue:hover, .archived-actions.bg-blue:hover{ background: #00B800; }
.ti-content-detail-actions-archived {cursor:pointer}
.archive-list {text-align:center;border-radius: 7px;cursor: pointer;display: inline-block;margin-top: 10px;padding: 10px;width:150px}
.archive-list:hover{font-weight:bold;padding: 10px;width:150px}
.archive-list a {color:#fff;text-decoration:none}
.article-list-tags span { margin-right:3px; }
#archived-list .archived-actions{width:250px;display:none}
#article-modal {overflow:hidden; height:550px; }
#article-modal textarea { width:100%; height:200px;resize:none}
#convertArticle {width:1000px;margin:auto}
#convertArticle .modal-dialog{width:1000px}
#convertArticle .modal-dialog textarea{height:200px;padding: 7px;width:100%;}
#convert-btn{border-radius:5px;color:#fff;cursor: pointer;margin-top: 15px;padding:10px;text-decoration: none}
#manage-article input[type="radio"] {width:15px;height:15px}
.article-actions { border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; padding:12px 0; margin-top:20px; }
.tags-section{margin: 5px 0 0 5px}
#btnAddTags, #btnConvertAds{margin-top: 10px}
#archivedAds .modal-content, #reactivateAds .modal-content {height: 550px;width: 50%}
.archived-assignment-ads-header { background: #efefef; padding:8px 0px 4px 0px; border-radius:8px 8px 0 0; border: 1px solid #ddd; border-style:solid solid none solid; }
.archived-assignment-ads-header input { padding:4px; }
.archived-assignment-ads {background: #fff; height:500px; overflow:hidden; overflow-y:auto; border: 1px solid #ddd; border-style:none solid solid solid; }
.archived-assignment-ads.row{height:380px}
.archived-assignment-table {border-top:1px solid #ccc}
.ads-archived.row{margin:15px}
.embedcode-modal-step1 {width:450px}
#uploadArticleFile {margin:10px 20px}
#uploadAudio .modal-dialog {width:500px}
#uploadAudio .modal-content{height:460px}
#uploadImage .modal-content{width:500px;height:415px}
#embedcode-modal { position:relative; overflow:hidden;height:600px}
#embedcode-modal textarea {width:100%;padding:5px 10px}
#uploadAudio #upload-space {padding:10px}
#uploadAudioButton, #uploadAudioImage{margin-top:10px}
.audio-play{margin-top: 20px}
.vt-approval-header > span {margin-left: 17px}
.vt-approval-action textarea {width: 420px;padding:30px 15px}
.vt-approval-action .action-buttons {margin-top:10px}
.vt-approval-action .action-buttons .fa {margin-right:5px}
.vt-approval-action .action-buttons .fa.fa-check {color:green}
.vt-approval-action .action-buttons .fa.fa-close {color:red}
.vt-approval-header span { width:100%;display:block}
.conf-cancel-conversion { font-size:16px;margin:5px}
.pending-request-container > span {margin-left:10px}
.pending-request-container .btn-cancel-conversion {margin-left:20px;margin:20px 3px 20px 19px}
.pending-request-container .cancel-loader {margin-left:10px}
#vtImagePhoto {display: block;height: 188px;width: 100%}
#termsAgreement {height:350px}
#termsAgreement .modal-title > i {color:#5cb85c;margin-right:10px}
#termsAgreement .modal-dialog {width: 600px}
#termsAgreement #terms-modal {width: 600px;height:250px}
#terms-modal > p {margin: 10px}
#terms-modal > p:nth-child(1) {border: 1px solid #ccc;padding: 18px}
#vtApprovalNotification .modal-dialog {width: 500px}
#vtApprovalNotification .modal-content {height: 200px}
#vtApprovalNotification .modal-header #myModalLabel i{margin-right:10px}
.rate-voicetalent-container {border-top:1px solid #ccc;margin-top:20px}
.rate-voicetalent {display: inline-flex;list-style: outside none none; border: 2px dotted #ccc}
.rate-voicetalent > li {font-size: 25px;margin:0 15px;padding:10px 5px;cursor:pointer}
.rate-voicetalent-container .br-theme-fontawesome-stars .br-widget a {font: 36px/1 FontAwesome;margin-right: 22px}
.rate-voicetalent-container #rate-reason {margin: 25px 0; padding: 10px;width:600px}
#recordAudio .button.disabled, #recordAdsAudio .button.disabled, #recordVTAudio .button.disabled{box-shadow:none; opacity:0.7}
#recordAudio canvas, #recordAdsAudio canvas, #recordVTAudio canvas{ display: block}
#recordAudio .modal-dialog, #recordAdsAudio .modal-dialog, #recordVTAudio .modal-dialog {width: 550px}
#recordAudio .modal-content, #recordAdsAudio .modal-content, #recordVTAudio .modal-content {height: 410px}
#recordAudio #audio, #recordAdsAudio #audio, #recordVTAudio #audio{width: 100%}
#recordAudio .player-btn, #recordAdsAudio .player-btn, #recordVTAudio .player-btn { margin:10px; text-align:center}
#recordAudio #saveAudioRecord, #recordAdsAudio #saveAudioRecord, #recordVTAudio #saveAudioRecord {float:right}
#recordAudio canvas#level, #recordAdsAudio canvas#level, #recordVTAudio canvas#level {margin: 10px}
/*
 * Talent
 */
#talent-search { border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0; margin:20px 0px; padding:20px 0px; }
#advancedSearch { margin-top: 20px; }

#talent-categories {}
#talent-categories .right-border { border-right:1px solid #e0e0e0; }
#talent-categories ul { padding:0; margin:0; list-style-type: none; }
#talent-categories ul li { padding:0; margin:2px 0; }

.featured-talent { background: #fff; border-top:0px solid #adadad; margin-top:40px; padding-top:10px; }
.featured-talent-header { margin-bottom:15px; display:block; }
.featured-talent ul.talent-list { padding:0; margin:0; list-style-type: none; }
.featured-talent ul.talent-list > li { padding:35px 0px; margin:0; border-top:1px solid #d0d0d0; }

.talent-img { width:100px; height:100px; border-radius:50%; background: #DD514C; color:#fff; text-align:center; line-height:100px; font-size:2em; background-size: 120px 100px;background-position: center;}
.talent-img:hover { color:#fff; }

.featured-talent-rating ul, .featured-talent-price ul, .featured-talent-conversions ul { padding:0; margin:0; list-style-type: none; }
.featured-talent-rating ul li, .featured-talent-price ul li, .featured-talent-conversions ul li { padding:0 0 5px 0; }

.featured-talent-price strong, .featured-talent-conversions strong { font-size:3em; display:block; }

.featured-talent-rating ul li .fa-star { color:#FAA732; font-size:1.5em; }
.featured-talent-rating ul li .fa-star-o { color:#565656; font-size:1.5em; }

.talent-profile { margin-top:30px; }
.talent-profile .talent-price strong { font-size:3em; display:block; }
.talent-profile .profile-description { background: #fff; border-top:1px solid #dedede; padding:40px; margin:40px 0; }
.talent-profile .availability, .talent-profile .languages, .talent-profile .work-summary { margin-top:60px; }
.talent-profile .availability ul, .talent-profile .languages ul, .talent-profile .work-summary ul { padding:0; margin:0; list-style-type: none; }

.work-summary .fa-star { color:#FAA732; font-size:1.5em; }
.work-summary .fa-star-o { color:#565656; font-size:1.5em; }

.work-history { padding:0; margin:0; list-style-type: none; }
.work-history li { background: #fff; border-top:1px solid #dedede; padding:14px; margin:5px 0; }
.work-history li audio { width:90%; }


 
/*
 * Time Line
 */
.ui-timline-container {
	padding:15px;
}

.ui-timeline {
	display:table;
	position:relative;
	table-layout:fixed;
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
}

.ui-timeline:before {
	background-color:#d5d5d5;
	bottom:0px;
	content:"";
	position:absolute;
	left:0;
	top:30px;
	width:1px;
	z-index:0;
}

.ui-timeline .tl-item {
	display:table-row;
	margin-bottom:5px;
}

.ui-timeline .tl-item:before {
	display:none;
	content:"";
}

.ui-timeline .tl-item .tl-caption {
	width:150px;
	margin-left:-55px;
}
.ui-timeline .tl-item.alt:before {
	display:none;
}

.ui-timeline .tl-item.alt:after {
	content:"";
	display:block;
	width:50%;
}

.ui-timeline .tl-item.alt .tl-body .tl-entry {
	margin:0 35px 45px 0;
}

.ui-timeline .tl-item.alt .tl-body .tl-time {
	right:-220px;
	left:auto;
	text-align:left;
}

.ui-timeline .tl-item.alt .tl-body .tl-icon {
	right:-53px;
	left:auto;
	color:#fff;
}

.ui-timeline .tl-item.alt .tl-body .ti-content-score {
	display: table-cell;
	width: 20%; 
	vertical-align: top;
	padding:25px 5px;
	text-align:center;
	color:#fff;
	font-size:25px;
	margin-right:30px;
	border-radius:4px;
}
.ui-timeline .tl-item.alt .tl-body .ti-content-score span { font-size:14px; display:block; }
.ui-timeline .tl-item.alt .tl-body .ti-content-detail { padding:20px; height:100px; display: table-cell; width: 80%; vertical-align: top; border-radius:4px; }

.ui-timeline .tl-item.alt .tl-body .tl-content:after {
	right:-16px;
	left:auto;
	border:8px solid transparent;
	border-left:8px solid #fff;
}

.ui-timeline .tl-item .tl-body {
	display:table-cell;
	width:50%;
	vertical-align:top;
}

.ui-timeline .tl-item .tl-body .tl-entry {
	position:relative;
	margin:0 0 45px 36px;
}

.ui-timeline .tl-item .tl-body .tl-time {
	position:absolute;
	left:-220px;
	top:5px;
	width:150px;
	line-height:35px;
	text-align:right;
	color: #767676;
}

.ui-timeline .tl-item .tl-body .tl-icon {
	position:absolute;
	left:-53px;
	top:5px;
	color:#fff;
}

.ui-timeline .tl-item .tl-body .tl-content {
	position:relative;
	border-radius:4px;
	background-color:#fff;
	display: table;
	table-layout: fixed;
	width: 100%;
}
.ui-timeline .tl-item .tl-body .ti-content-score {
	display: table-cell;
	width: 20%; 
	vertical-align: top;
	padding:25px 5px;
	text-align:center;
	color:#fff;
	font-size:25px;
	margin-right:30px;
	border-radius:4px;
}
.ui-timeline .tl-item .tl-body .ti-content-score span { font-size:14px; display:block; }
.ui-timeline .tl-item .tl-body .ti-content-detail { padding:20px; height:100px; display: table-cell; width: 80%; vertical-align: top; border-radius:4px; }

.ui-timeline .tl-item .tl-body .tl-content:after {
	content:" ";
	line-height:0;
	position:absolute;
	left:-16px;
	top:15px;
	border:8px solid transparent;
	border-right:8px solid #fff;
}

.ui-timeline .tl-item .ti-content-detail {
	position:relative;
	overflow:hidden;
}
.ui-timeline .tl-item .ti-content-detail-info {
	position:absolute;
        padding-right:14px;
	top:15px;
	width: 100%;
	left: 20px;
}
.ui-timeline .tl-item .ti-content-detail-info h4 {
	margin:3px 0 0 0;
}
.ui-timeline .tl-item.alt .ti-content-detail-info { width:90%; }
.ti-content-detail-actions {
	position:absolute;
	top:200px;
	text-align:center;
	width: 100%;
	left: 0;
}
.ui-timeline .tl-item .ti-content-detail-actions .row {
	margin:10px 0 0 0;
}
.ui-timeline .tl-item .ti-content-detail-actions a:hover {
	text-decoration:none;
}
.ui-timeline .tl-item .ti-content-detail-actions-activity, .ti-content-detail-actions-edit {
	border-right:1px solid rgba(200,200,200,.8);
}
.ui-timeline .tl-item .ti-content-detail-actions i.fa {
	display:block;
	font-size:24px;
	margin-top:10px;
}


/*
 * Page Sign Up
 */
.page-signin .signin-header, .page-signup .signin-header, .page-forgot .signin-header {
	margin-top:50px;
}
.page-signin .logo, .page-signup .logo, .page-forgot .logo {
	font-size:26px;
	font-weight:normal;
	text-transform:uppercase;
}

.page-signin .logo a:hover, .page-signup .logo a:hover, .page-forgot .logo a:hover {
	text-decoration:none;
}

.page-signin .info, .page-signup .info, .page-forgot .info {
	padding:20px 0 0;
	max-width:420px;
	margin:0 auto 20px;
}

.page-signin .info h2, .page-signup .info h2, .page-forgot .info h2 {
	font-size:18px;
	color:#242633;
}

.page-signin .signin-body, .page-signin .signup-body, .page-signup .signin-body, .page-signup .signup-body, .page-forgot .signin-body, .page-forgot .signup-body {
	border-top:1px solid #f8f8f8;
	padding:20px 10px;
}

.page-signin .form-container, .page-signup .form-container, .page-forgot .form-container {
	max-width:420px;
	margin:10px auto;
}

.page-signin .form-group, .page-signup .form-group, .page-forgot .form-group {
	position:relative;
}

.page-signin .form-group>.glyphicon, .page-signup .form-group>.glyphicon, .page-forgot .form-group>.glyphicon {
	position:absolute;
	top:16px;
	left:12px;
	color:#999;
}

.page-signin .form-group .input-lg, .page-signin .form-group .input-group-lg>.form-control, .page-signin .form-group .input-group-lg>.input-group-addon, .page-signin .form-group .input-group-lg>.input-group-btn>.btn, .page-signup .form-group .input-lg, .page-signup .form-group .input-group-lg>.form-control, .page-signup .form-group .input-group-lg>.input-group-addon, .page-signup .form-group .input-group-lg>.input-group-btn>.btn, .page-forgot .form-group .input-lg, .page-forgot .form-group .input-group-lg>.form-control, .page-forgot .form-group .input-group-lg>.input-group-addon, .page-forgot .form-group .input-group-lg>.input-group-btn>.btn {
	padding:10px 30px;
}


/*
 * Icons
 */
.round-icon{ display:block;text-align:center;width:60px;height:60px;font-size:26px;line-height:60px }
.round-icon {
border-radius: 50%;
}
.round-icon.sm {
width: 35px;
height: 35px;
font-size: 16px;
line-height: 35px;
}


/*
 * Panels
 */
.panel {
margin-bottom: 20px;
background-color: #fff;
border: 1px solid transparent;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-box {
display: table;
table-layout: fixed;
width: 100%;
height: 100%;
text-align: center;
border: none;
}
.panel-box .panel-item {
display: table-cell;
padding: 30px;
vertical-align: top;
border-radius: 0;
width: 100%;
}
.panel-box .panel-item span {
display: block;
}
.panel-box .panel-left {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
color:#fff;
font-size:40px;
width: 30%;
line-height: 0.7;
}
.panel-box .panel-left small {
color:#fff;
font-size:11px;
}
.panel-box .panel-right {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
width: 70%;
text-align:left;
position:relative;
overflow:hidden;
}
.panel-right-summary {
	position:absolute;
	top:20px;
	width: 100%;
	left: 0;
	padding-left:30px;
}
.panel-right-actions {
	position:absolute;
	top:200px;
	text-align:center;
	width: 100%;
	left: 0;
}
.panel-right-actions .row {
	margin:10px 0 0 0;
}
.panel-right-actions a:hover {
	text-decoration:none;
}
.panel-right-actions-activity, .panel-right-actions-edit {
	border-right:1px solid rgba(200,200,200,.8);
}
.panel-right-actions i.fa {
	display:block;
	font-size:24px;
	margin-top:10px;
}
.mini-box {
min-height: 120px;
padding: 25px;
}
.mini-box .box-icon {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 70px;
vertical-align: middle;
text-align: center;
font-size: 35px;
border-radius: 4px;
}

#rep-stats { margin-bottom:20px; background:#fff; }
#rep-stats .bar-indicator { height: 30px; width:100%; margin-top:10px; }
#rep-stats .bar-data { padding: 0px 20px 10px; }
#rep-stats div[data-score-type]:hover { background:#fafafa; cursor:pointer; }
#rep-stats div[data-score-type].active { background:#fafafa; }

.panel-holder {
	margin-bottom:30px;
}
.panel-profile {
	border: none;
}
.panel .panel-heading {
	text-transform: uppercase;
	color:#fff;
}
.panel .panel-heading a {
	color:#fff;
}
.panel .panel-heading img {
	margin-top: -40px;
	border: 2px solid #fff;
}
.panel .panel-heading h3 {
	margin-top: 10px;
	margin-bottom: 0;
}
.panel-profile .list-justified-container {
	padding: 15px 0;
}
.panel-profile ul.list-justified {
	display: table;
	width: 100%;
	list-style: none;
	padding: 0;
}
.panel-profile ul.list-justified>li {
	float: none;
	display: table-cell;
	padding: 10px;
	border-right: 1px solid #eee;
}

.panel-profile ul.list-justified>li:last-child {
	border-right: 0;
}
.panel-profile ul.list-justified>li p {
	margin:0;
	color:#777;
}
.panel-profile ul.list-justified>li .text-muted {
	margin:0;
	color:#bababa;
	text-transform:uppercase;
	font-size:.9em;
}
img.img80_80 {
	width: 80px;
	height: 80px;
}


.rep-detail-stats {
	background:#fff;
	margin-bottom:2px;
}
.rep-detail-stats > div { border-right:1px solid rgba(50,50,50,.1); }
.rep-detail-stats h4 { text-align:center; text-transform:uppercase; }
.rep-detail-stats canvas { margin:15px 0; }

.opp_heat_info { 
	text-transform: uppercase;
	list-style-type: none;
	margin: 20px 0 0 0;
	padding: 0 0 0 10px;
	font-size: 1.7em;
	font-weight:700;
	border-left: 1px solid rgba(50,50,50,.1); }
.opp_heat_info li { 
	margin-bottom:8px; }

.conversion_chart_text { 
	position: absolute;
	z-index: 5;
	top: 60px;
	left: 65px;
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
	width: 120px;
	text-align: center;
	line-height: .95em; }
	
.teamscore_chart_text { 
	position: absolute;
	z-index: 5;
	top: 60px;
	left: 65px;
	text-transform: uppercase;
	width: 100px;
	text-align: center;
	line-height: 1.3em; }
	
.teamdeals_chart_text { 
	position: absolute;
	z-index: 5;
	top: 60px;
	left: 65px;
	text-transform: uppercase;
	width: 100px;
	text-align: center;
	line-height: 1.3em; }

.teamscore_chart_text strong, .teamdeals_chart_text strong { 
	font-size: 30px;
	font-weight: 500;
	display:block;
	margin-bottom:8px;
	
}


.listing-header { margin-bottom:20px; display: block; }

.document-holder { background: url(/images/white_linen.png) repeat; padding:0px !important; }
.document-holder .note-editor { border:0px; }
.document-holder .note-editor .note-editable { width: 816px; height: 1056px; margin: 10px auto; border:1px solid #efefef; padding:30px;
-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.05); -moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.05); box-shadow: 1px 1px 8px rgba(0,0,0,0.05); }

#send-proposal-modal { position:relative; }

.view-docuemnt { background:#fff; width: 816px; height: 1056px; margin: 10px auto; border:1px solid #efefef; padding:30px;
-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.05); -moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.05); box-shadow: 1px 1px 8px rgba(0,0,0,0.05); }


.nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}
.nav-boxed {
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
	background-color: #fff;
	border-radius: 4px;
}
.nav-justified, .nav-tabs.nav-justified {
	width: 100%;
}
.nav-boxed>li:first-child>a {
	border-left: none;
	border-top: 0;
}
.nav-boxed.nav-justified>li>a {
	margin: 0;
}
.nav-boxed>li>a>i {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto 2px;
	font-size: 30px;
}
.nav-boxed .active a, .nav-boxed .active:hover a {
	background:#00c7f7;
	color:#fff !important;
}

#AddActivityTabs {
	padding:20px;
}

#template-holder { padding:0; }
#template-toolbar { position:fixed; background:#dedede; height:39px; padding:8px; width:100%; border-bottom:1px solid #cacaca; }
#template-toolbar ul { list-style-type: none; margin:0; padding:0;  }
#template-toolbar ul li { float:left; margin:0 20px 0 10px; }

#viewport { margin-top:40px; }
.sortable { position:relative; }
.sortable i { font-size:1.2em; cursor:pointer; transition:all 0.35s ease-in-out 0.05s; -webkit-transition:all 0.35s ease-in-out 0.05s; -moz-transition:all 0.35s ease-in-out 0.05s; }
.sortable i:hover { color:#00c7f7; }
.sortable .handle { position:absolute; top:4px; left:4px; }
.sortable .settings { position:absolute; top:4px; left:20px; }

.sortable-control { 
	display:none;
	transition:all 0.35s ease-in-out 0.05s; -webkit-transition:all 0.35s ease-in-out 0.05s; -moz-transition:all 0.35s ease-in-out 0.05s; }
.sortable:hover .sortable-control { 
	display:block; }

.sidebar-collapser {
	cursor: pointer;
	position: absolute;
	top: 43%;
	margin-top: -13px;
	width: 10px;
	height: 30px;
	background-color: #454342;
	border-radius: 0px;
	border: 1px solid #565656;
	z-index: 1000;
	opacity: 0.4;
	transition:all 0.35s ease-in-out 0.05s; -webkit-transition:all 0.35s ease-in-out 0.05s; -moz-transition:all 0.35s ease-in-out 0.05s;
}
.sidebar-collapser[data-side="left"] {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	box-shadow: 1px 0px 4px rgba(0,0,0,.3), inset 0 1px 0 rgba(255, 255, 255, 0.15);
	-webkit-box-shadow: 1px 0px 4px rgba(0,0,0,.3), inset 0 1px 0 rgba(255, 255, 255, 0.15);
	-moz-box-shadow: 1px 0px 4px rgba(0,0,0,.3), inset 0 1px 0 rgba(255, 255, 255, 0.15);
	right: 0%;
}
.sidebar-collapser:hover {
	opacity: 0.9;
}

.sidebar-collapser .sidebar-collapser-caret {
	width: 0px;
	height: 0px;
	border: 3px solid transparent;
	margin-top: -3px;
	position: relative;
	top: 50%;
}
.sidebar-collapser[data-side="left"] .sidebar-collapser-caret {
	border-right: 4px solid rgba(255, 255, 255, 0.8);
	border-left: none;
	left: 2px;
}

.section-templates { display:none; }

#addSection .widget { padding:10px; border: 1px solid rgba(50,50,50,.3); display:block; border-radius:5px; }
.settings-tab-content { padding:20px; border: 1px solid rgba(150,150,150,.3); border-style: none solid solid solid;  }

.row audio {vertical-align:bottom;}
#uploadAudioFileMessage {
    display: none;
    background: green none repeat scroll 0 0;
    color: #fff;
    list-style-type: none;
    margin: 10px 20px;
    padding: 5px;
    text-align: center;
}
/*
*   Feeds - Add this file
*/
#AddThisFile select {padding:10px;width:100%}
#AddThisFile button {width:100%; padding:10px 40px}

/*
 * Ads Page
 */
.ads-info small { margin:8px 0px 10px 10px; display: block; }
.ads-actions { border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; padding:12px 0; margin-top:20px; }
.ads-actions-btn, ads-archived-btn { border: 1px solid; border-radius: 10px; color: #fff; margin: auto; padding: 20px; position: relative; text-align: center; width: 200px; cursor: pointer; }
.ads-actions-btn.bg-blue > a, .ads-archived-btn.bg-blue > a {color: #fff;text-decoration: none;}
.ads-actions-btn.bg-blue:hover, .ads-archived-btn.bg-blue:hover { background: #00B800; }
.ads-limits { background:#fff; padding:20px 25px; display:inline-block; margin-top:20px; }
.ads-limits .ads-limits-metric:first-child { margin-bottom:14px; border-bottom:1px solid #dfdfdf; padding-bottom:10px; }
.ads-limits .ads-limits-metric strong { font-size:1.5em; }

.assignment-ads-header { background: #efefef; padding:8px 0px; border-radius:8px 8px 0 0; border: 1px solid #ddd; border-style:solid solid none solid; }
.assignment-ads-header input { padding:4px; }
.assignment-ads { background: #fff; height:500px; overflow:hidden; overflow-y:auto; border: 1px solid #ddd; border-style:none solid solid solid; }
.assignment-ads tr.active td {  }

#ad-activity-stats {  }
#ad-activity-stats .bar-data { background:#fff; margin:20px; padding:20px; }
#ad-activity-stats .bar-data .ad-activity-stat { font-size:4em; font-weight:700; }

#new-ad-modal { position:relative; overflow:hidden; height:250px; }
#new-ad-modal-step1 { position:absolute; height:200px; width:100%; top:0px; text-align:center; margin:30px 0 40px; }
#new-ad-modal-step1 .add-new-action { padding:18px; border-radius:6px; cursor:pointer; }
#new-ad-modal-step1 .add-new-action:hover { background:#f2f2f2; }
#new-ad-modal-step1 large { font-size:60px; }
#new-ad-modal-step2 { top: 500px; width:100%; text-align:center; position: absolute; margin-top:30px; }
#new-ad-modal-step3 { position:absolute; height:600px; width:100%; top:-1000px; text-align:center; margin-top:30px; overflow:scroll; }
#upload-space { padding:35px; background:#f2f2f2; border:1px dashed #bebebe; text-align:center}
#upload-space #btn-upload {margin:10px}
#upload-space input[type='file'] {opacity:0;width:0;height:0;}
.manage-ads-description span, .manage-ads-notes span {margin-left: 22px;}
.manage-ads-description, .manage-ads-notes {margin-top: 10px;margin-left:10px}
.active-ads, .ads-company {}
.active-ads i {margin-right:10px}

#package-modal, #cards-modal { height:160px;overflow: hidden;position: relative}
#packageNotification .modal-header, #cardsNotification .modal-header {background: #fd583f;border-radius: 4px 4px 0 0;color: #fff}
#packageNotification .modal-dialog, #cardsNotification .modal-dialog{width: 385px}
#packageNotification .notif-action, #cardsNotification .notif-action {margin-top: 0px}
#packageNotification .modal-header .modal-title i, #cardsNotification .modal-header .modal-title i {margin-right: 5px}
#packageNotification .modal-header .close, #cardsNotification .modal-header .close {font-size: 50px;margin-top: -17px}
/* Ads Manage */
#ads-modal {overflow:hidden; height:310px; }
#ads-modal textarea { width:100%; height:200px;resize:none}
#convertAds {width:500px;margin:auto}
#convertAds .modal-dialog{width:495px}
#convertAds .modal-dialog textarea{height:200px;padding: 7px;width:100%;}
#ads-upload-modal {position:relative;overflow:hidden;height:480px;width:630px}
#uploadAdsAudio .modal-dialog{width:530px}
#ads-upload-modal textarea {width:100%;}
#ads-upload-modal .upload-space {padding:25px}
#ads-upload-modal .ads-desc {margin-bottom:10px}
#uploadAdsAudio #errorMessages {margin-left:65px;margin-top:-10px;width:400px}
/**
 * Settings Tab
 * 
 */
#adsCompany-modal-sec > form, #tags-modal-sec > form {margin: 25px;}
.rTable    { display: table; text-align: center;margin-top:20px;display:table;width: 100%;}
.rTableRow  { display: table-row; }
.rTableRow:hover{background:#91bef4;cursor:pointer}
.rTableHeading    { display: table-header-group; }
.rTableBody    { display: table-row-group; }
.rTableFoot    { display: table-footer-group; }
.rTableHead {font-weight:700;background:#428bca;color:#fff}
.rTableCell, .rTableHead {border-bottom: 1px solid #999999;border-right: 1px solid #999999;display: table-cell;padding: 3px 10px;}
.rTableCell:first-child, .rTableHead:first-child {border-left: 1px solid #999999}
textarea {resize: none}

/**
 * Invoice
 */
.invoice-table {background: #fafafa none repeat scroll 0 0;margin-top: 20px}
.subtotal {background: #fafafa none repeat scroll 0 0;border-radius: 19px;list-style: outside none none;padding: 33px 99px;width: 400px}
.invoice-table tr {height: 70px}
.subtotal.pull-right > li {display: inline-block;width: 100%}
.number {float: left;padding-left: 40px;font-weight:700}
.invoice-label{float: left}
.subtotal li:nth-child(2) .number {margin-left: 20px}
.subtotal li:nth-child(3) .number {margin-left: -29px}
.amount-paid {font-weight:700}
.invoice-head{padding:0 8px}
.invoice-id, .invoice-receipt {margin: 18px}

/** Embeded Code **/
.buttonConfiguration .row-column{width:100%;display:inline-flex}
.buttonConfiguration input[type="radio"]{margin-top: 26px}
.embeded-small{background: url(/img/embeded-small.png) no-repeat 0 0;width: 60px;height: 60px;display:inline-block;background-size:contain}
.embeded-medium{background: url(/img/embeded-medium.png) no-repeat 0 0;width: 300px;height:70px;display:inline-block;background-size:contain}
.embeded-large{background: url(/img/embeded-large.png) no-repeat 0 0;width:170px;height:117px;display:inline-block;background-size:contain}
form#buttonConfiguration{display:inline-block;width:100%;margin-bottom:20px}
form#buttonConfiguration .row{width:33%}
form#buttonConfiguration .row:nth-child(1) {width: 175px}
form#buttonConfiguration .row:nth-child(2) {width: 375px}
.credit-form, .billing-form {padding-bottom:45px}
/** Tags **/
.table-striped tr:hover{cursor:pointer}
#tags-modal textarea {height:150px;padding: 10px;width: 100%}
#tags-modal {margin: 0 20px}
#confirmDeleteTags #tags-modal{text-align:center}
.confirmation-btn > a,#confirm-delete-tags {margin: 10px;padding: 10px 40px}
#confirmDeleteTags .modal-dialog{width:440px}
.tags-selection > select{margin: 15px;padding: 10px 98px}
.second-confirmation{display:none}
#creditCard, .billing-notes {margin-left: 70px;margin-top: 15px}
#creditCard .inline {display:inline-flex}
#billingForm{margin: 0 85px}
.credit-form span {font-weight:700;margin-top:8px;margin-right:10px}
.cc-icon {background: url(/img/cc.png) no-repeat;background-size: 370px 60px;width:92px;height:100px}
.visa {background-position: 0px 15px}
.mastercard {background-position:-93px 15px}
.ame {background-position:-187px 15px}
.discover{background-position:-281px 15px}
label.error{color:#ff2300}
.billing-input{width:70%}

/**
 *Support for responsiveness
 */
@media (max-width: 1090px) {
    
    /**
     * Article
     */
    .ui-timeline .tl-item .tl-body .ti-content-score,
    .ui-timeline .tl-item.alt .tl-body .ti-content-score {
        width:25%;
    }
}
@media (max-width: 975px) {
    
    /**
     * Article
     */
    .ui-timeline .tl-item .tl-body .ti-content-detail,
    .ui-timeline .tl-item.alt .tl-body .ti-content-detail {
        font-size: 12px;
    }
    .ti-content-detail-info h4 {
        font-size: 16px;
    }
    .ui-timeline .tl-item .tl-body .ti-content-score span ,
    .ui-timeline .tl-item.alt .tl-body .ti-content-score span {
        font-size: 13px;
    }
    .ui-timeline .tl-item .ti-content-detail-info,
    .ui-timeline .tl-item.alt .ti-content-detail-info {
        top:5px;
    }
    
    /*
     * Article Manage
     */
    audio#buzzer {
        margin-bottom: 14px;
    }
}
@media (max-width: 900px) {
    
    /**
     * Article
     */
    .ui-timeline .tl-item .tl-body .ti-content-score span, 
    .ui-timeline .tl-item.alt .tl-body .ti-content-score span {
        font-size:12px;
    }
}
@media (max-width:824px) {
    ul.nav.navbar-left.nav-tabs {
        width:100%;
    }
    ul.nav.navbar-right.nav-pills {
        width:0px;
    }
    .nav.nav-tabs > li,
    .nav.nav-pills > li {
        width:20%;
    }
    .nav.nav-pills > li {
        float:left;
    }
    .nav.nav-tabs > li > a > i, 
    .nav.nav-pills > li > a > i {
        font-size:20px;
        margin: 0 -10px;
    }
    .nav.nav-tabs > li > a > span, 
    .nav.nav-pills > li > a > span {
        display: none;
    }
    .navbar-bottom {
        padding:0 15px;
    }
    .navbar .navbar-form input{
        margin: 3px;
    }
    .navbar-form {
        border:none;
    }
    .navbar-bottom .navbar-toggle:hover,
    .navbar-bottom .navbar-toggle:active,
    .navbar-bottom .navbar-toggle:focus{
        background:#519548;
    }
    .navbar-profile .dropdown-menu > li {
        text-align: center;
        width: 100%;
        margin: 25px;
    }
    .navbar-profile .dropdown-menu > li > a {
        color:#000 !important;
    }
    .navbar-profile .dropdown-menu > li > a:hover {
        color:#fafafa !important;
    }
    .ui-timeline .tl-item .tl-body .ti-content-score, .ui-timeline .tl-item.alt .tl-body .ti-content-score {
        width: 33%;
    }
    .ui-timeline .tl-item .tl-body .tl-content {
        width: 100%;
        margin-left:-10px;
    }
    .ui-timeline .tl-item.alt .tl-body .tl-content {
        margin-left:9px;
    }
    .navbar-profile .dropdown-menu > li {
        width:80%;
    }
    
    /**
     * Article
     */
    .archive-list {
        margin:10px;
    }
}
@media (min-width: 768px) {
    
    /**
     *Sidebar
    */
    .sidebar {
        position: fixed;
        top: 116px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 0 20px 20px 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f1f1f1;
        border-right: 1px solid #dcdcdc;
    }
    
    /**
     * Main Content
     */
    .main {
        padding-right: 40px; 
        padding-left: 40px;
    }
    
    /**
     * Timeline
     */
    .ui-timeline:before {
	left:50%;
    }
    .ui-timeline .tl-item:before {
	display:block;
	width:50%;
    }
    .ui-timeline .tl-item .tl-caption {
	margin-left:-110px;
    }
    .ui-timeline .tl-item.alt {
	text-align:right;
    }
    
    /**
     * Page Signup
     */
    .page-signin .signin-header, .page-signup .signin-header, .page-forgot .signin-header {
	margin-top:150px;
    }
    
    /**
     * Panels
     */
    .nav-justified>li, .nav-tabs.nav-justified>li {
            display: table-cell;
            width: 1%;
    }
    .nav-boxed>li>a {
            border-left: 1px solid #f3f3f3;
    }
}
@media (max-width: 768px) {
    /**
     * Articles Main
     */
    .ti-content-detail-actions {
        width:100%;
    }
    .ti-content-detail-actions .row{
        float: left;
        display: inline-flex;
        width:100%;
    }
    .ti-content-detail-actions .row > div{
        width:33%;
    }
    #articles .opportunity-header .size-h1{
        position: absolute;
    }
    
    /**
     * Search
     */
    #global-search {
        margin-left: 10px;
    }
    #global-search input {
        width:100%;
    }
    .navbar-profile .dropdown-toggle span {
        margin-left:47%;
    }
    .dropdown.navbar-profile {
        text-align:center;
    }
    ul.dropdown-menu {
        background: #fff !important;
        margin-left: 10%;
    }
}
@media (max-width: 330px) {
    
    /*
     * Common
     */
    .navbar-brand {
        font-size:20px;
    }
    
    .ui-timeline .tl-item .tl-body .ti-content-score, .ui-timeline .tl-item.alt .tl-body .ti-content-score{
        width:35%;
    }
    .ui-timeline .tl-item .tl-body .tl-content {
        width:245px;
    }
    .ui-timeline .tl-item .tl-body .tl-content {
        margin-left:-10px;
    }
    
    /*
     * Articles
     */
    #activity-stats h4{
        font-size:14px;
    }
    .ti-content-detail-actions {
        font-size:10px;
    }
}
@media (max-width: 300px) {
    .navbar-brand {
        font-size:18px;
    }
}