/**
 * Embeded Popup
 */
header{
    height:45px
}
header #logo img {
    height: 28px;
    float: left;
    margin-left: 24px;
    margin-top: 5px;
}
.player-div {
    margin: 45px 0 0;
    display: inline-block;
    background: #e7f5dc;
    padding: 15px;
    font-family:Verdana, Ariel;
    width:100%;
}
.player-div .description {
    width: 80%;
    float: left;
    font-size:12px;
}
.player-audio{
    width: 20%;
    float: right;
    padding-left: 16px;
}
.player-audio >div > i {
    font-size: 40px;
    background: #e7f5dc;
    border-radius: 36px;
    color: rgba(132, 195, 64, 1);
    border: 0px;
    cursor: pointer;
}
form#AddThisFile {
    margin-top: 16px;
    font-size: 15px;
    font-family: Verdana, Ariel;
    font-weight: 500;
}
form#AddThisFile > dl > dt {
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    margin: 0px -15px;
    padding: 10px 20px;
    color:rgba(132, 195, 64, 1);
}
form#AddThisFile > dl > dd {}

form#AddThisFile > dl > dd a:hover, a[name=feeds-list]:hover {
    background: #e7f5dc none repeat scroll 0 0;
    text-decoration: none;
}
span.title {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.duration{
    margin-left:8px;
}
.add-new-list {
    cursor:pointer;
}
