<?php
$form = $this->forgotForm;
$form->prepare();
$form->setAttribute('action', $this->url('forgot'));
$form->setAttribute('method', 'post');
?>

<section data-ng-view="" id="content" class="content-container animate-fade-up ng-scope">
  <div class="page-signin ng-scope">
    <div class="signin-header">
      <section class="logo text-center">
        <a href="/" class="ng-binding">Forgot Your Password?</a>
      </section>
    </div>
		
    <div class="signin-body">
      <div class="container">
        <div class="form-container">
          <?php echo $this->form()->openTag($form) ?>
          <fieldset>
            <div class="form-group">
              <span class="glyphicon glyphicon-envelope"></span>
              <?php 
              $email = $form->get('email');
              $email->setAttribute('class', 'form-control input-lg input-round text-center')
                  ->setAttribute('placeholder', 'Email');
              echo $this->formInput($email);
              echo $this->formElementErrors($email);
              ?>
            </div>
            <div class="form-group">
              <?php 
              $submit = $form->get('submit');
              $submit->setAttribute('class', 'btn btn-primary btn-lg btn-round btn-block text-center');
              echo $this->formButton($submit);
              ?>
            </div>
          </fieldset>
          <?php echo $this->form()->closeTag() ?>
          <section>
            <p class="text-center"><a href="<?php echo $this->url('signin') ?>">Back to login</a></p>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
