<section data-ng-view="" id="content" class="content-container animate-fade-up ng-scope">
  <div class="page-signin ng-scope">
    <div class="signin-header">
      <section class="logo text-center">
        <a href="/" class="ng-binding"><?php echo $this->translate('Your password has been changed!'); ?></a>
      </section>
    </div>

    <div class="signin-body">
      <div class="container">
        <p class="text-center">
          <?php echo $this->translate('You can now login using your new password.') ?><br />
          <a href="<?php echo $this->url('signin') ?>"><?php echo $this->translate('Back to login?'); ?></a>
        </p>
      </div>
    </div>
  </div>
</section>