<?php
$form = $this->resetForm;
$form->prepare();
$form->setAttribute('action', $this->url('zfcuser/resetpassword', array('userId' => $this->userId, 'token' => $this->token)));
$form->setAttribute('method', 'post');
?>

<section data-ng-view="" id="content" class="content-container animate-fade-up ng-scope">
  <div class="page-signin ng-scope">
    <div class="signin-header">
      <section class="logo text-center">
        <a href="/" class="ng-binding"><?php echo sprintf($this->translate('Change Password for %s'), $this->escapeHtml($this->email)); ?></a>
      </section>
    </div>
		
    <div class="signin-body">
      <div class="container">
        <div class="form-container">
          <?php echo $this->form()->openTag($form) ?>
          <fieldset>
            <div class="form-group">
              <span class="glyphicon glyphicon-lock"></span>
              <?php 
              $newCredential = $form->get('newCredential');
              $newCredential->setAttribute('class', 'form-control input-lg input-round text-center')
                  ->setAttribute('placeholder', 'New Password');
              echo $this->formInput($newCredential);
              echo $this->formElementErrors($newCredential);
              ?>
            </div>
            <div class="form-group">
              <span class="glyphicon glyphicon-lock"></span>
              <?php 
              $newCredentialVerify = $form->get('newCredentialVerify');
              $newCredentialVerify->setAttribute('class', 'form-control input-lg input-round text-center')
                  ->setAttribute('placeholder', 'Confirm New Password');
              echo $this->formInput($newCredentialVerify);
              echo $this->formElementErrors($newCredentialVerify);
              ?>
            </div>
            <div class="form-group">
              <?php 
              $submit = $form->get('submit');
              $submit->setAttribute('class', 'btn btn-primary btn-lg btn-round btn-block text-center');
              echo $this->formButton($submit);
              ?>
            </div>
          </fieldset>
          <?php echo $this->form()->closeTag() ?>
          <section>
            <p class="text-center"><a href="<?php echo $this->url('signin') ?>">Back to login</a></p>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
