<section data-ng-view="" id="content" class="content-container animate-fade-up ng-scope">
  <div class="page-signin ng-scope">
    <div class="signin-header">
      <section class="logo text-center">
        <a href="/" class="ng-binding">Forgot Your Password?</a>
      </section>
    </div>

    <div class="signin-body">
      <div class="container">
        <p class="text-center">
          <?php echo sprintf($this->translate('A reminder has been sent to your e-mail address %s.'), $this->escapeHtml($this->email)); ?><br />
          <a href="<?php echo $this->url('signin') ?>"><?php echo $this->translate('Back to login?'); ?></a>
        </p>
      </div>
    </div>
  </div>
</section>