Hi <?php echo $user->getDisplayName() ?><br/><br />

This email is to confirm your registration with Lisyn. If you did not request to register, please disregard this email.
<br /><br /><br />

Regards,<br /><br />

Lisyn Team
            
