<div id="browse-view" class="view view-6">
    <div id="browse-pane" class="container pane">
        <h3 class="pane-title"><i class="fa fa-trophy"></i>Top 10 Lists</h3>
        <div id="browse-list" class="pane-list pane-list-vertical"></div>
        <div id="category-list"></div>
    </div>
</div>