<div id="discovery-view" class="view view-6">
    <div class="container">
        <div class="form-container">
            <form id="frmDiscover" class="lisyn-form" novalidate="novalidate">
                <fieldset>
                    <div class="consumer form-group">
                        <i class="fa fa-search"></i>
                        <span></span>
                        <input type="text" name="searchKeyword" id="searchKeyword" class="form-control input-lg input-round text-center" value="" placeholder="Search">
                    </div>
                </fieldset>
            </form>
        </div>
        <span class="search-message"></span>
        <div id="search-result">
        </div>
        <div class="row text-center">
            <button type="button" class="btn btn-success load-more" style="display: none" name="button">Load More..</button>
        </div>
    </div>
</div>