<!-- Placed at the end of the document so the pages load faster -->
<script>
    head.ready(function () {
        head.load({jquery: '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'});
    })

    head.ready('jquery', function () {
        head.load(
                '//code.jquery.com/ui/1.11.0/jquery-ui.min.js',
                '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.iframe-transport.js',
                '//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.fileupload.js',
                '/js/min/consumer-xpull.min.js',
                {swiper: '//cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js'},
                {validate: '//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js'},
                {underscore: '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'}
        );
    });

    head.ready('underscore', function () {
        head.load({backbone: "//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"})
    });

</script>
<script>
    var swiper;
    var userlist;
    var publiclist;
</script>
