<ul class="nav-items">
    <li id="lists-btn" class="nav-item active" data-link="main-view"><i class="fa fa-heart"></i>Your Lists</li>
    <li id="browse-btn" class="nav-item" data-link="browse-view"><i class="fa fa-th-large"></i>Browse</li>
    <li id="discover-btn" class="nav-item" data-link="discovery-view"><i class="fa fa-search"></i>Search</li>
    <li id="settings-btn" class="nav-item" data-link="list-setting-view"><i class="fa fa-cog"></i>Settings</li>
</ul>