<div id="list-setting-view" class="view view-5">
    <div id="profile-pane" class="container pane">
        <div class="row">
            <div class="col-xs-12">
                <div class="profile-image">
                    <img src="<?= !empty($user->getImage()) ? $user->getImage() : '/img/profile.jpg' ?>" alt="profile-name" title="profile-name" />
                </div>
            </div>
            <div class="col-xs-12">
                <h2 class="profile-title"><?= $user->getConsumer()->getFirstName() . ' ' . $user->getConsumer()->getLastName() ?></h2>
                <div class="statistics">
                    <div id="this-playlist-count" class="stat"><span class="count"><?= isset($countUserFeeds) ? $countUserFeeds : 0 ?></span><span class="title">Playlists</span></div>
                    <div id="this-profile-following" class="stat"><span class="count"><?= isset($countPublicFeeds) ? $countPublicFeeds : 0 ?></span><span class="title">Following</span></div>
                    <div id="this-profile-followers" class="stat"><span class="count"><?= isset($feedsFollower) ? $feedsFollower : 0 ?></span><span class="title">Followers</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="settings-nav"><i class="icon-user"></i>User Profile</div>
    <div class="settings-nav">   
        <label class="profile-lbl"><i class="fa fa-edit"></i>Update Profile Photo</label>
        <input type="file" id="userImage" name="userImage">
    </div>
    <div class="settings-nav">
        <label class="profile-lbl"><i class="fa fa-edit"></i>Name :</label>
        <span class="profile-editor" contenteditable="true" data-field="firstName"><?= $user->getConsumer()->getFirstName() ?> </span><span class="profile-editor" contenteditable="true" data-field="lastName"><?= $user->getConsumer()->getLastName() ?></span>
    </div>
    <div class="settings-nav">
        <label class="profile-lbl"><i class="fa fa-edit"></i>Display Name :</label>
        <span class="profile-editor" contenteditable="true" data-field="displayName"><?= $user->getDisplayName() ?></span>
    </div>
    <div class="settings-nav">
        <label class="profile-lbl"><i class="fa fa-edit"></i>Username :</label>
        <span class="profile-editor" contenteditable="true" data-field="username"><?= $user->getUserName() ?></span>
    </div>
    <div class="settings-nav">
        <label class="profile-lbl"><i class="fa fa-edit"></i>Email :</label>
        <span class="profile-editor" contenteditable="true" data-field="email"><?= $user->getEmail() ?></span>
    </div>
    <div class="settings-nav"><i class="fa fa-sign-out"></i>Logout</div>
</div>