
<?php
$form = $this->loginForm;
$form->prepare();
$queryString = isset($_GET['redirect']) ? '?redirect=' . $_GET['redirect'] : '';
$form->setAttribute('action', $this->url('signin'). $queryString);
$form->setAttribute('id', 'frmLogin');
$form->setAttribute('method', 'post');
$form->setAttribute('class', 'form-horizontal ng-pristine ng-valid');
?>


<section data-ng-view="" id="content" class="login content-container animate-fade-up ng-scope">
    <div class="page-signin ng-scope">

        <div class="signin-body">
            <div class="container">
                <div class="form-container">
                    <div class="signin-header">
                        <div class="logo">
                            <i class="icon-lisyn"><span>Lisyn</span></i>
                        </div>
                        <span class="shortmsg">Create your own Lisyn account!</span>
                    </div>
                    <?php echo $this->form()->openTag($form) ?>
                    <fieldset>

                        <div class="login form-group">
                            <i class="icon-user"></i>
                            <?php
                            $identity = $form->get('identity');
                            $identity->setAttribute('class', 'form-control input-lg input-round text-center')
                                    ->setAttribute('placeholder', 'USERNAME/EMAIL');
                            echo $this->formInput($identity);
                            echo $this->formElementErrors($identity);
                            ?>
                        </div>
                        <div class="login form-group">
                            <i class="glyphicon glyphicon-lock"></i>
                            <?php
                            $credential = $form->get('credential');
                            $credential->setAttribute('class', 'form-control input-lg input-round text-center')
                                    ->setAttribute('placeholder', 'PASSWORD');
                            echo $this->formInput($credential);
                            echo $this->formElementErrors($credential);
                            ?>
                        </div>
                        <div class="login form-group">
                            <?php
                            $submit = $form->get('submit');
                            $submit->setAttribute('class', 'btn btn-primary btn-lg btn-round btn-block text-center');
                            echo $this->formButton($submit);
                            ?>
                        </div>
                    </fieldset>
                    <?php echo $this->form()->closeTag() ?>

                    <section>
                        <p class="text-center"><a href="<?php echo $this->url('forgot') ?>">Forgot your password?</a></p>
                        <?php if ($this->enableRegistration) : ?>
                            <p class="text-center text-muted text-small">Don't have an account yet? <a href="<?php echo ((SITE_ENV == 'consumer') ? $this->url('consumer/register') : $this->url('publisher/register')) . ($this->redirect ? '?redirect=' . $this->escapeUrl($this->redirect) : '') ?>">Sign up</a></p>
                        <?php endif; ?>
                        <div class="other-registration">
                            <a href="<?= $this->googleLink ?>" class="btn btn-primary btn-green"><i class="google-logo"></i>Signin with Google</a>
                            <a href="/sociallogin/linkedin" class="btn btn-primary btn-green"><i class="linkedin-logo"></i>Signin with LinkedIn</a>
                        </div>
                    </section>

                </div>
            </div>
        </div>

    </div>
</section>