<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lisyn.co</title>
        <title>Lisyn.co</title><meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Le styles -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/css/xpull.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/css/consumer.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/img/favicon1.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">        
        <script src="//cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"></script>
    </head>
    <body id="dashboard">
        <header>
            <div id="logo">
                <img src="/img/lisyn-header.png" alt="Logo" title="Logo" />
            </div>
        </header>        
        <div class="container-fluid">
            <div class="row">

                <section data-ng-view="" id="content" class="confirm content-container animate-fade-up ng-scope">
                    <div class="logo">
                        <i class="icon-lisyn"><span>Lisyn</span></i>
                    </div>
                    <section class="confirm-message">
                        <div><img src='/img/404.png'></div>
                    </section>
                </section>
            </div>
        </div>
    </body>
</html>
