<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="theme-color" content="#84C340" />
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#84C340">
        <?= $this->partial('partial/header-scripts.phtml', array('basePath' => $this->basePath(),
                                                                 'config'   => $this->config)); ?>
    </head>
    <body id="dashboard">
        
        <header>
            <?php
                if (isset($this->user)) {
                    if(SITE_ENV == 'consumer') {
                        $currentUser = $this->user->getConsumer();
                    } else {
                        $currentUser = ($this->user->getPublisher() !== null) ? $this->user->getPublisher() : $this->user->getVoiceTalent();
                    }
                    if ( isset($actionName) && $currentUser->getStatus() != 'activate' && $actionName != 'activate') {
                    ?>
                        <div id="activateBanner" class="alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            Account not yet activated.
                            <a href="activate">ACTIVATE NOW</a>
                        </div>
            <?php   }
                } ?>
            <div id="logo">
                <img src="/img/lisyn-header.png" alt="Logo" title="Logo" />
            </div>
        </header>
        <?php echo $this->inlineScript() ?>
        <?php if (isset($this->user) && SITE_ENV == 'consumer') { ?>
        <div id="swiper-content" class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="main-nav swiper-slide" data-nav="1">
                        <div class="container-fluid">
                            <div class="row">
                                <?= $this->content; ?>
                            </div>
                        </div>
                    </div>
                    <div class="main-nav swiper-slide" data-nav="2">
                        <?= $this->partial('partial/browse-pane.phtml', array()); ?>
                    </div>
                    <div class="main-nav discovery-pane swiper-slide" data-nav="3">
                        <?= $this->partial('partial/discovery-pane.phtml', array()); ?>
                    </div>
                    <div class="main-nav  swiper-slide" data-nav="4">
                        <?= $this->partial('partial/profile-pane.phtml', 
                            array('user'             => $this->user, 
                                  'countUserFeeds'   => $this->countUserFeeds,
                                  'countPublicFeeds' => $this->countPublicFeeds,
                                  'feedsFollower'    => $this->feedsFollower)); ?>
                    </div>
                </div>
            </div>
            <nav id="main-nav" class="navigation" style="">
                <?= $this->partial('partial/navigation.phtml'); ?>
            </nav>
            <!-- PLAYER VIEW -->
            <div id="player-view" class="view-7"></div>
            <div id="modal-view">
                <div class="modal fade" id="addPlayList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add New Playlist</h4>
                            </div>
                            <div id="consumer-modal-addplaylist" class="modal-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <?php } else { ?>
        <div class="container-fluid">
            <div class="row">
                <?php echo $this->content; ?>
            </div>
        </div>
        <?php } ?>
        <div id='audiohide' class="hide">
            <audio id="audioPlayer" preload></audio>
        </div>
    </body>
</html>
<?= $this->partial('partial/footer-scripts.phtml', array()); ?>
